<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sampleui2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Page22.Page22"></activity>
        <activity android:name=".Page52.Page52" />
        <activity android:name=".Page54.Page54" />
        <activity android:name=".Page53.Page53" />
        <activity android:name=".Page50.Page50" />
        <activity android:name=".Page44.Page44" />
        <activity android:name=".Page48.Page48" />
        <activity android:name=".Page19.Page19" />
        <activity android:name=".Page17.Page17" />
        <activity android:name=".Page8910.Page10" />
        <activity android:name=".Page8910.Page9" />
        <activity android:name=".Page3.Page3" />
        <activity android:name=".Page5.Page5" />
        <activity android:name=".Page4.Page4" />
        <activity android:name=".Page2.Page2" />
        <activity android:name=".Page8910.Page8">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>