<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sampleui2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splash.activity.SplashScreen"></activity>
        <activity android:name=".ui.home.bookings.activity.Rate" />
        <activity android:name=".ui.other.activity.CarPreferences" />
        <activity android:name=".ui.other.activity.CarDetails" />
        <activity android:name=".ui.other.activity.CarAccesories" />
        <activity android:name=".ui.home.bookings.activity.BookingTile" />
        <activity android:name=".ui.home.message.activity.Chat" />
        <activity android:name=".ui.home.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.profile.activity.Performance" />
        <activity android:name=".ui.home.profile.activity.Settings" />
        <activity android:name=".ui.home.profile.activity.EditProfile" />
        <activity android:name=".ui.other.activity.Reviews" />
        <activity android:name=".ui.other.activity.FinalPage" />
        <activity android:name=".ui.other.activity.CarPicture2" />
        <activity android:name=".ui.other.activity.CarPicture1" />
        <activity android:name=".ui.other.activity.CarInsurance" />
        <activity android:name=".ui.home.home.activity.HomeTile" />
        <activity android:name=".ui.login.activity.ForgotPassword" />
        <activity android:name=".ui.login.activity.ResetPassword" />
        <activity android:name=".ui.other.activity.CarNumber" />
        <activity android:name=".ui.other.activity.CarFreeKM" />
        <activity android:name=".ui.other.activity.CarAbout" />
        <activity android:name=".ui.other.activity.StartTrip" />
        <activity android:name=".ui.other.activity.DrivingLiscense" />
        <activity android:name=".ui.other.activity.CurrentKM" />
        <activity android:name=".ui.other.activity.CarDamages" />
        <activity android:name=".ui.other.activity.Filters" />
        <activity android:name=".ui.other.activity.MyCars" />
        <activity android:name=".ui.home.profile.activity.PrivacyPolicy" />
        <activity android:name=".ui.home.profile.activity.ChangePassword" />
        <activity android:name=".ui.home.home.activity.Home3" />
        <activity android:name=".ui.home.home.activity.Home2" />
        <activity android:name=".ui.login.activity.SignUpEmail" />
        <activity android:name=".ui.login.activity.LogInEmail" />
        <activity android:name=".ui.login.activity.LogInOptions" />
        <activity android:name=".ui.login.activity.SignUpOptions" />
        <activity android:name=".ui.home.home.activity.Home1" />
    </application>

</manifest>